pipeline/PL_BLOB_TO_SNOWFLAKE.json
{
	"name": "PL_BLOB_TO_SNOWFLAKE",
	"properties": {
		"activities": [
			{
				"name": "BLOB_TO_SNOWFLAKE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Script_TO_TRIUNCATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('csvList')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY_TO_SNOWFLAKE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CsvBlobDynamic",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "@item()"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SnowflakeDynamic",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@toUpper(replace(item(), '.csv', ''))\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Script_TO_TRIUNCATE",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE MARKETING.TEST.RAW_CAMPAIGNS;\n\nTRUNCATE TABLE MARKETING.TEST.RAW_CHANNELS;\n\nTRUNCATE TABLE MARKETING.TEST.RAW_LEADS;\n\nTRUNCATE TABLE MARKETING.TEST.RAW_REVENUE;\n\nTRUNCATE TABLE MARKETING.TEST.RAW_SPEND;\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"csvList": {
				"type": "Array",
				"defaultValue": [
					"raw_campaigns.csv",
					"raw_leads.csv",
					"raw_spend.csv",
					"raw_channels.csv",
					"raw_revenue.csv"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-16T08:54:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}